/* ***** Logo Styling ***** */
.Logo {
    /* border: 1px solid blue; */
    text-decoration: none;
    color: #105652;
    font-family: 'Kaushan Script', cursive;
    font-size: 35px;
    /* height: 100%; */
    display: flex;
    align-items: center;
}

.Logo span {
    /* border: 1px solid red; */
    color: crimson;
    font-family: 'Inspiration', cursive;
    font-size: 1.1em;
    font-weight: bold;
    cursor: default;
}


/* ***** Navigation-Bar Styling ***** */
.NavBar {
    /* border: 1px solid blue; */
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.NavBar a {
    text-decoration: none;
    color: black;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    padding: 0 .3vw 0 .3vw;
    position: relative;
}

.NavBar a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.1rem;
    left: 0;
    bottom: 0;
    background: crimson;
    transform: scale(0, 1);
    transform-origin: 0% 100%;
    transition: transform 0.4s ease;
}

.NavBar a:hover::after {
    transform: scale(1, 1);
}


/* Media Query */
@media only screen and (min-width: 358px) and (max-width: 425px) {
    .Logo {
        font-size: 24px;
    }

    .NavBar {
        display: none;
    }
}